@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #fbfaf4;
  --foreground: #00070e;
  --semantic-text-icon-primary: #00070e;
  --semantic-text-icon-secondary: #808385;
}

.text-primary-text {
  color: var(--semantic-text-icon-primary);
}

.text-secondary-text {
  color: var(--semantic-text-icon-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}
